body {
  font-family: 'Roboto', sans-serif;
  
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  line-height: 1.6;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #222;
}

.select-container select, 
.select-container input, 
.select-container button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.select-container button {
  background-color: #3399ff; /* hellblauer Button */
  color: white;
  border: none;
  cursor: pointer;
}

.select-container button:hover {
  background-color: #007acc; /* dunkler beim Hover */
}

select, input, button {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  min-width: 120px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #3399ff;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.language-switch {
  position: fixed;
  top: 10px;
  right: 10px;
}
